{% extends 'base.html.twig' %}

{% block body %}
    <h2>403 : Accès refusé</h2>

    <p>Vous n'êtes pas autorisé à vous rendre sur cette page.</p>

    <p><a href="/">Revenir à l'acceuil</a></p>
{% endblock %}